#Data Science Tools and Ecosystem

#In this notebook,Data Science Tools and Ecosystem are summarized

**Objectives:**
- Some of the Data Science tools
- Some of the commonly used libraries used
- Some of popular languages that Data scientists use

#Some of the popular languages that Data Scientists use are:
1. Python 
2. Scalia
3. Java

#Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

|Data Science Tools|
-------------------
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
# This is simple arithmetic expression to multiply then add integers

17

200/60
# This will convert 200 minutes to hours by dividing by 60

## Author
# Aditya Sakuru